* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: #ffffff;
    color: #111111;
}

.page {
    width: 100%;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:#ffffff;
}

.header {
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5d7d7;
    padding: 0 60px;
    position: relative;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    color: #a63d45;
    font-size: 20px;
}

.logo-text {
    font-size: 26px;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 42px;
    margin-left: auto;
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    color: #111111;
    font-size: 13px;
}

.nav a.active {
    font-weight: 700;
}

.login-btn {
    background: #9C3B40;
    color: #FFFFFF;

    border: none;
    border-radius: 30px;
    padding: 8px 20px;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.15s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn:hover {
    background: #872f34;
    transform: scale(1.05);
}

.login-btn:active {
    background: #6f2428;
    transform: scale(0.95) translateY(1px);
}


.hero {
    display: flex;
    position: relative;
    z-index: 2;
}

.left-block {
    width: 545px;
    padding-left: 97px;
    padding-top: 98px;
}

.image-box {
    width: 360px;
    height: 260px;
    border-radius: 30px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-block h2 {
    margin-top: 24px;
    font-size: 26px;
}

.right-block {
    width: 511px;
    padding-top: 123px;
    margin-left: 69px;
}

.right-block h1 {
    width: 511px;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    line-height: 1.15;
    font-weight: 600;
    color: #111111
}

.highlight {
    background: #E8C4C6;
    padding: 4px 10px;
    border-radius: 6px;
}

.right-block p {
    margin-top: 10px;
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.donor-btn {
    width: 400px;
    height: 88px;
    border: none;
    border-radius: 50px;
    background: #9c3b40;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s;
}

.donor-btn:hover {
    background: #872f34;
    transform: scale(1.03);
}

.donor-btn:active {
    background: #6f2428;
    transform: scale(0.96) translateY(2px);
}  

.more-btn {
    display: flex;
    margin-top: 36px;
    width: 293px;
    height: 49px;
    border: 3px solid #E8C4C6;
    border-radius: 30px;
    background: #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s;

}

.more-btn:hover {
    background: #f9f9f9;
    transform: scale(1.02);
}

.more-btn:active {
    transform: scale(0.95) translateY(2px);
    border-color: #9C3B40;
}


.features {
    display: flex;
    justify-content: space-between;
    padding: 54px 78px 0;
    position: relative;
    z-index: 2;
}

.feature {
    width: 250px;
}

.feature h3 {
    display: inline-block;
    background: #d8cec3;
    padding: 2px 6px;
    font-size: 13px;
    font-weight: 700;
}

.feature p {
    margin-top: 8px;
    font-size: 13px;
}


.footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 84px 0;
    position: relative;
    z-index: 2;
    font-size: 13px;
}

.footer-links {
    display: flex;
    gap: 34px;
}

.footer-links a {
    color: #111;
    text-decoration: underline;
}


.page::before {
    content: "";
    position: absolute;
width: 1225px;
    height: 1160px;
    left: -369px;
    top: -554px;
    background: #FFEEEF;
    border-radius: 50%;
    z-index: 0;

}

.page::after {
    content: "";
    position: absolute;
    width: 593px;
    height: 593px;
    left: 901px;
    top: 365px;
    background: #e9bfc3;
    border-radius: 50%;
    z-index: 0;
}

.header,
.hero,
.features,
.footer {
    position: relative;
    z-index: 2;
}

.about {
    position: relative;
    z-index: 2;
    background: #ffffff;
    overflow: hidden;
}

.about::before {
    content: "";
    position: absolute;

    width: 1022px;
    height: 1053px;

    left: 813px;
    top: 160px;

    background: #FFEEEF;
    border-radius: 50%;

    z-index: 0;
}

.about::after {
    content: "";
    position: absolute;

    width: 508px;
    height: 320px;

    left: 1100px;
    top: 450px;

    background: #9C3B40;
    border-radius: 50%;

    transform: rotate(-33deg);

    z-index: 1;
}

.about-container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-left {
    margin-left: 80px;
    margin-top: 80px;
    max-width: 540px;
}

.about-main-text {
    width: 539px;
    font-family: "Raleway" , sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 18px;
    color: #000000;
}

.about-sub-text {
    width: 449px;
    font-family: "Raleway" , sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 10px;
}


.about-item-text h3 {
    width: 440px;
    height: 35px;

    background: #9C3B40;
    color: #FFFFFF;

    border-radius: 5px;

    display: flex;
    align-items: center;

    padding-left: 10px;

    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 8px;
}

.about-item-text p {
    width: 465px;

    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: #000000;
}

.about-highlight {
    border-radius: 4px;
    display: inline-block;
    background: #E8C4C6;
    padding: 4px 10px;
}

.about-right {
    margin-left: auto;   /* притискає вправо */
    margin-right: 80px;  /* відступ від правого краю (підженемо) */
    margin-top: 18px;    /* відступ зверху (підженемо) */
}

.about-item {
   display: flex;
    align-items: flex-start;
    gap: 24px;
}

.about-item-text {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.about-icon {
    width: 121px;
    height: 121px;
    border-radius: 0;
    object-fit: cover;
    flex-shrink: 0;
}

.about-right img {
    height: 350px;
    border-radius: 30px;
    object-fit: cover;
    display: block;
    width: 530px;
    margin-top: -250px;
    margin-left: 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    color: #a63d45;
    font-size: 20px;
}


.auth-logo {
    position: absolute;

    top: 40px;     /* 🔥 підганяй 30–60 */
    left: 137px;   /* як у Figma */

    z-index: 5;
}


.auth-section {
    position: relative; /* 🔥 ВАЖЛИВО */

    min-height: 100vh;

    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start; /* 🔥 було center */

    padding-top: 140px; /* 🔥 додаємо простір зверху */
}


/* ФОН */
.auth-bg {
    position: relative;
    overflow: hidden;
}

/* КАРТИНКА ФОНУ */
.auth-bg::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 1; /* 🔥 зробив 0.2 щоб ти точно побачив */

    z-index: -1; /* 🔥 ВАЖЛИВО */
}

/* Щоб контент був зверху */
.auth-wrapper {
    position: relative;
    z-index: 2;
}

/* Карточка */
.auth-box {
    width: 420px;
    padding: 40px;
    border-radius: 24px;
    border: 1px solid #c94a4a;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    text-align: center;
}

.auth-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.auth-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

.auth-input:focus {
    border-color: #c94a4a;
}

.auth-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.auth-btn {
    padding: 10px 20px;
    border-radius: 20px;
}

.auth-link {
    font-size: 14px;
    color: #c94a4a;
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}
